# AInTandem
.flexy-qwen
.flexy-claude
.flexy-gemini
.flexy-codex
.cospec-sync
.kai-notify.json

# AI agents
QWEN.md
CLAUDE.md
.claude

# External modules
sdk

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
wrangler.toml*

.pnpm-store
node_modules
dist
dist-ssr

.env
.env.*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
